*.db
*.pyc
*.sublime-project
*.sublime-workspace
local_settings.py
skill_map.pickle
thing/profile_middleware.py
.*.swp
node_modules/
.anjuta
.ropeproject/
celerybeat-schedule
data/
*.anjuta
*~
*.dump
evething/settings.py
evething/local_settings.py
celery_worker.sh
data
import.patch
import.py.orig
import.py.rej
postgres-latest.sql
sdl
thing/migrations/
