{% extends "base.html" %}

{% block title %}Trade Tool{% endblock %}

{% block content %}
      <div class="row-fluid">
        <div class="span3">
          <form action="{{ url('thing.views.trade_tool') }}" method="GET" class="form-search">
            <label>System</label>
            <input type="text" class="input-mini" name="system" value="{{ system }}">
            <input type="submit" class="input-mini" value="Update">
          </form>
        </div>

        {% if trade_plan %}
        <div class="col-sm-6 col-sm-offset-3">
          <h2>Best Trade</h2>
        </div>
        {% endif %}
{% endblock %}